!!! 5
%html
  %head
    %title Rotten Potatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag "http://code.jquery.com/jquery-1.8.3.js"
    = javascript_include_tag "http://code.jquery.com/ui/1.9.2/jquery-ui.js"
    = csrf_meta_tags

  %body
    %h1.title Rotten Potatoes!
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
